body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("../assets/maki.webp");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.471); /* Opacidad ajustable */
  z-index: 0;
  pointer-events: none; /* No bloquea clics */
}

/* Para que el contenido esté encima del overlay */
body > * {
  position: relative;
  z-index: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.main-content {
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-y: auto;
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}
