.container-body {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  user-select: none;
  grid-template-columns: auto auto auto auto auto;
}

.container-player {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2px;
}

.container-player-body {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.container-card {
  position: relative;
  width: 250px;
  height: 375px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
}

.card-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container-card:hover .card-background-image {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-year {
  font-size: 14px;
  font-weight: bold;
  align-self: flex-end;
  color: white;
  background-color: #8000ff;
  border-radius: 5px;
  padding: 0px 5px;
}

.card-play {
  align-self: center;
  font-size: 3.5rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.card-title {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
