.container_Menu {
  position: fixed;
  top: 40px; /* Misma altura que la navbar */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px); /* 100% del viewport menos la barra */
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.menu_buttons {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
}
