
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
  padding-top: 10px;
}

.container-card {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin: 5px;
  background-color: #000;
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
}

.card-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-year {
  background-color: blueviolet;
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.75rem;
  position: absolute;
  top: 8px;
  right: 8px;
}

.card-play {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-play > i {
  color: white;
  font-size: 70px;
  cursor: pointer;
}

.card-container-button {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 20px;
}

.card-container-button > i {
  color: rgb(252, 4, 4);
}
