.container-header-search-box {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
  background-color: #00ff48;
  width: 380px;
  z-index: 999;
}

.container-header-search-box input {
  border: none;
  outline: none;
  flex: 1;
}

.container-header-search-btn {
  background-color: #8000ff;
  color: white;
  border: none;
  width: 40px;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0px;
}
