@media (max-width: 1536px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 5px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}
@media (max-width: 1280px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}
@media (max-width: 1024px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}
@media (max-width: 768px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}
@media (max-width: 640px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 180px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}
@media (max-width: 475) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .container-body {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 60px;
    padding-top: 10px;
  }

  .card-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .container-card {
    width: 180px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 10px;
    background-color: #000;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.5);
  }
}

.container-player {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2px;
}

.container-player-body {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.container-card:hover .card-background-image {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-year {
  font-size: 14px;
  font-weight: bold;
  align-self: flex-end;
  color: white;
  background-color: #8000ff;
  border-radius: 5px;
  padding: 0px 5px;
}

.card-play {
  align-self: center;
  font-size: 3.5rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.card-container-button {
  display: flex;
  width: auto;
  height: 30px;
  justify-content: space-between;
  padding: 3px 5px;
}

.card-container-button > i {
  cursor: pointer;
}
